@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

body{
    background: white;
 /*   background: #f7f3eb; */
    font-family: 'Noto Sans', sans-serif;
}

header{
    color: white;    
}

/* Contenido */

.contenedor{

}

.box__contendor{
    width: 73%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    padding-bottom: 50px ;
}

.contenedor .producto{
    text-align: center;
    box-shadow: 0 0 10px rgb(6 6 6 / 10%);
    padding: 20px;

}

.contenedor .producto .imagen__producto{
    width: 250px;
    max-width: 250px;
    height: 250px;
    max-height: 250px;
}

