@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
    margin: 0%;
    padding: 0%;
}

body{
    background: white;
 /*   background: #f7f3eb; */
    font-family: 'Noto Sans', sans-serif;
}

header{
    color: white;    
}

.logo {
    width: 35%;
}

button {
    margin-bottom: 15px;
    background: rgb(0, 0, 0);
    border: 0px;
    padding: 0px;
    width: 67%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    transition: .3s ease-in-out;
    overflow: hidden;
    color: white;
}



nav{
    margin-top: 1%;
    margin-bottom: 1%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav .menu i{
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

nav .menu i:hover{
    color: rgb(26, 29, 192);
}

nav .menu ul{
    display: flex;
    align-items: center;
}


nav .menu ul .barra__de__busqueda input {
    height: 32px;
    position: relative;
    color: grey;
    border-radius: 15px;
}

.barra__de__busqueda{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav .menu ul .barra__de__busqueda > i{
    position: absolute;
}

.content__header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

hr {
    color: grey;
    margin: 1% 0% 0% 0%;

}




/* Contenido */


.contenido__carrito {
    background: #f5f5f5;
    margin: auto;
    width: 55%;
    text-align: center;
    box-shadow: 4px 4px 4px 1px rgb(0 0 0 / 30%);
}

.contenido__carrito h3{
    color: rgb(36, 66, 196);
}

.contenido__carrito .contenido__articulo {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenido__carrito .contenido__articulo img{
    margin: 3% 5% 1% 5%;
    width: 25%;
}

.contenido__carrito .contenido__articulo p {
    width: 75%;
    margin: auto;
}

/*  */
footer{
    background-color: #000000;
    width: 100%;
}

footer p{
    text-align: center;
    color: white;
}

@media screen and (max-width: 400px){

    /* nav */
    nav{
        margin-top: 4%;
        margin-bottom: 4%;
        flex-direction: column;
    }

    nav a {
        width: 50%;
        margin: auto;
    }

    .logo {
        width: 100%;
    }

    nav h1{
        font-size: 200%;
    }

    /* contenido */

    button {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .contenido__carrito .contenido__articulo {
        flex-direction: column;
    }

    .botones{
        align-items: center;
        flex-direction: column;
        margin: auto;
    }

    body > div > label > input[type=text]:nth-child(8){

        margin-bottom: 15px;
    }

}