<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-carrito.css">
</head>
<body>
    <header>

        <nav>
            <h1>DuckFum</h1>
            <div class="menu">
                <ul>
                    <span>Inicio</span>       
                </ul>
            </div>
        </nav>

        <hr>
    </header>

    <div class="contenido__carrito">

        <h1>DuckFum</h1>
        <h2>Carrito</h2>
        <p>Registrate para continuar comprando.</p>

        <hr>
        <div class="contenido__articulo">

            <img src="imagen-index-2.jpg" alt="">
            <div class="texto__arituclo">
                <h2>Nombre del aritculo</h2>
                <h3>$2500</h3>
            </div>

        </div>

        <hr>

        <div class="contenido__articulo">

            <img src="imagen-index-2.jpg" alt="">
            <div class="texto__arituclo">
                <h2>Nombre del aritculo</h2>
                <h3>$2500</h3>
            </div>

        </div>

        <hr>
        <button>comprar</button>
    </div>


    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>