<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-carrito.css">
</head>
<body>
    <header>

        <nav>
            <a href="/">
                <img class="logo" src="/img/logo.png" alt="">
            </a>
            <div class="menu">
                <ul>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
                        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
                        crossorigin="anonymous">

                    <a href="/login"><i class="fas fa-user fa-2x"></i> </a>
                    <a href="/shop"><i class="fas fa-shopping-bag fa-2x"></i></a>
                    <a href="/carrito"><i class="fas fa-shopping-cart fa-2x"></i> </a>
                    <div class="barra__de__busqueda">
                        <input class="buscador" type="search" name="Buscar">
                        <i class="fas fa-search"></i>
                    </div>
                </ul>
            </div>
        </nav>

        <hr>

        <div class="content__header">
            <div class="texto__content">

                <h3>¡10% de descuento con Visa!</h3>

            </div>
        </div>
    </header>

    <div class="contenido__carrito">

        <img style="padding-bottom: 10px; padding-top: 50px;" class="logo" src="/img/logo.png" alt="">
        <h2>Carrito</h2>

        <hr>

        <div>

            <div class="contenido__articulo">
                <img src="/img/imagen-index-2.jpg" alt="">
                <div class="texto__arituclo">
                    <h2>Nombre del aritculo</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum illo harum nihil sed quod cumque culpa, beatae inventore, dignissimos laudantium eligendi porro neque quos sunt voluptas dolor, eum eius! A?</p>
                    <h3>$2500</h3>
                </div>
            </div>

            <div class="contenido__articulo">
                <img src="/img/imagen-index-3.png" alt="">
                <div class="texto__arituclo">
                    <h2>Nombre del aritculo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vel repellendus ea facere ut sed id placeat incidunt impedit asperiores? Repellendus et quasi, quos velit iure blanditiis atque possimus at.</p>
                    <h3>$2500</h3>
                </div>
            </div>

        </div>

        <hr style="margin-bottom: 25px;">
        <p>2 artìculos en el carrito</p>
        <h3>TOTAL: $5000.00</h3>
        <p style="margin-top: 15px;">
            <label class="custom-radio-checkbox" >
                <!-- Input oculto -->
                <input  type="checkbox" name="genero" value="hombre">
                <!-- Texto -->
                <span  class="custom-radio-checkbox__text">Acepto las condiciones de uso y privacidad</span>
            </label>
        </p>
        <button style="margin-top: 25px;">COMPRAR</button>
    </div>


    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>