<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-detalle.css">
</head>
<body>
    <header>

        <nav>
            <a href="/">
                <img class="logo" src="/img/logo.png" alt="">
            </a>
            <div class="menu">
                <ul>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
                        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
                        crossorigin="anonymous">

                    <a href="/login"><i class="fas fa-user fa-2x"></i> </a>
                    <a href="/shop"><i class="fas fa-shopping-bag fa-2x"></i></a>
                    <a href="/carrito"><i class="fas fa-shopping-cart fa-2x"></i> </a>
                    <div class="barra__de__busqueda">
                        <input class="buscador" type="search" name="Buscar">
                        <i class="fas fa-search"></i>
                    </div>
                </ul>
            </div>
        </nav>

        <hr>

        <div class="content__header">
            <div class="texto__content">

                <h3>¡10% de descuento con Visa!</h3>

            </div>
        </div>
    </header>


    <div class="contenido__detalle">

        <div class="imagen__contenido">
            <div class="imagen__detalle-imagen">
                <div class="imagenes__detalle-box">

                    <img src="/img/imagen-index-3.png" alt="">
                    <img src="/img/imagen-index-3.png" alt="">
                    <img src="/img/imagen-index-3.png" alt="">
        
                </div>
                <img id="imagen__de__muestra" src="/img/imagen-index-3.png" alt="">
            </div>
            <div class="texto__contenido">

                <h2>Nombre</h2>
                <p>Descripcion dep producto</p>
                <h3>100$</h3>
                <button>Comprar</button>
            </div>
        </div>
    </div>

    <div class="descripcion__detalle">
        <div class="descipcion__contenido">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus corrupti minima minus maxime sequi doloremque aperiam dolore quibusdam debitis est dolorem nam reiciendis omnis at distinctio, porro, nostrum ipsam asperiores!
            Quisquam, facere quae vero error sapiente autem exercitationem quia magnam et, itaque nesciunt. Quae provident, modi magni officiis vero iure illum aliquam incidunt vitae distinctio inventore nostrum. Nisi, accusamus quos?
            Modi ratione praesentium quod corporis sequi laborum repellat numquam sunt sed ipsam fuga temporibus, ea dolores nemo quis laudantium accusamus nostrum libero eveniet sapiente? Quisquam similique hic praesentium consequuntur deleniti!</p>
        </div>
    </div>

    <img src="/img/imagen-detalle-1.jpg"  class="imagen__pagos"  alt="">

<!--     <div class="login__register-box">

        <h3>- Para Comprar debe estar logeado / Registrado - </h3>
        <label for="nombre">
            <span>Usuario</span>
            <input type="text" id="nombre" placeholder="Tu nombre">
            <span>Contraseña</span>
            <input type="text" id="nombre" placeholder="Tu nombre">
            <div class="botones">
                <button>Entrar</button>
                <button>Registrarse</button>
            </div>
        </label> -->

    </div>


    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>