<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-index.css">
</head>
<body>
    <header>

        <nav>
            <h1>DuckFum</h1>
            <div class="menu">
                <ul>
                    <span>Login</span>       
                    <span>Carrito</span>
                </ul>
            </div>
        </nav>

        <hr>

    <div class="content__header">
        <div class="texto__content">

            <h3>¡10% de descuento con Visa!</h3>

        </div>
    </div>
    </header>


    <div class="contenido__pag">
        <div class="banner__div">
            <img src="imagen-index-1.png" alt="perfume" class="banner">
        </div>
        <div class="promos">
            <div class="texto__promo" >

                <h2>Hasta 10%</h2>
                <img src="imagen-index-2.jpg"id="izquierda__imagen" alt="">
                
            </div>
            <div class="texto__promo">

                <h2>Envìo Gratis</h2>
                <img src="imagen-index-2.jpg" alt="">
            </div>
            <div class="texto__promo">

                <h2>Regalos</h2>
                <img src="imagen-index-2.jpg" alt="">

            </div>
            <div class="texto__promo" >

                <h2>Premios</h2>
                <img src="imagen-index-2.jpg" id="derecha__imagen" alt="">
            </div>
        </div> 


        <h3 class="texto__productos">LOS MEJORES PRODUCTOS DE LA MÀS ALTA CALIDAD DEL MERCADO</h3>

        <div class="contenedor__productos">

            <div class="imagen__producto" id="noSeVe">
                <img src="imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <button class="comprar">COMPRAR</button>
            </div>

            <div class="imagen__producto" id="noSeVe">
                <img src="imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <button class="comprar">COMPRAR</button>
            </div>

            <div class="imagen__producto" id="noSeVe">
                <img src="imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <button class="comprar">COMPRAR</button>
            </div>   
               
            <div class="imagen__producto" id="noSeVe">
                <img src="imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <button class="comprar">COMPRAR</button>
            </div>
        </div>

    </div>

    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>