<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-index.css">
</head>
<body>
    <header>

        <nav>
            <a href="/"><h1>DuckFum</h1></a>
            <div class="menu">
                <ul>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

                    <a href="/registro"><i class="fas fa-user fa-2x"></i>  </a>     
                    <a href="/carrito"><i class="fas fa-shopping-cart fa-2x"></i> </a>
                    <div class="barra__de__busqueda">
                        <input class="buscador" type="search" name="Buscar">
                        <i class="fas fa-search"></i>
                    </div>
                </ul>
            </div>
        </nav>

        <hr>

    <div class="content__header">
        <div class="texto__content">

            <h3>¡10% de descuento con Visa!</h3>

        </div>
    </div>
    </header>


    <div class="contenido__pag">
        <div class="banner__div">
            <img src="/img/imagen-index-1.png" alt="perfume" class="banner">
        </div>
        <div class="promos">
            <div class="texto__promo" >

                <h2>Hasta 10%</h2>
                <img src="/img/imagen-index-2.jpg"id="izquierda__imagen" alt="">
                
            </div>
            <div class="texto__promo">

                <h2>Envìo Gratis</h2>
                <img src="/img/imagen-index-2.jpg" alt="">
            </div>
            <div class="texto__promo">

                <h2>Regalos</h2>
                <img src="/img/imagen-index-2.jpg" alt="">

            </div>
            <div class="texto__promo" >

                <h2>Premios</h2>
                <img src="/img/imagen-index-2.jpg" id="derecha__imagen" alt="">
            </div>
        </div> 


        <h3 class="texto__productos">LOS MEJORES PRODUCTOS DE LA MÀS ALTA CALIDAD DEL MERCADO</h3>

        <div class="contenedor__productos">

            <div class="imagen__producto" id="noSeVe">
                <img src="/img/imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <a href="/detalle"><button class="comprar">COMPRAR</button></a>
            </div>

            <div class="imagen__producto">
                <img src="/img/imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <a href="/detalle"><button class="comprar">COMPRAR</button></a>
            </div>

            <div class="imagen__producto" >
                <img src="/img/imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <a href="/detalle"><button class="comprar">COMPRAR</button></a>
            </div>   
               
            <div class="imagen__producto" id="noSeVe">
                <img src="/img/imagen-index-3.png" alt="">
                <div class="texto__imagen__producto">
                    <h2>Nombre</h2>
                    <p>Descripcion del producto</p>
                    <h3>$100</h3>
                </div>
                <a href="/detalle"><button class="comprar">COMPRAR</button></a>
            </div>
        </div>

    </div>

    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>