<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-login.css">
</head>
<body>
    <header>

        <%- include('./partials/nav'); %>

        <hr>
    </header>

    <div class="contenido__login">

        <img style="padding-bottom: 10px; padding-top: 50px;" class="logo" src="/img/logo.png" alt="">
        <h2>Panel de usuario</h2>
        <p>Conectate para recibir novedades y comprar</p>
        <hr style="margin-top: 25px; margin-bottom: 25px;">
        <label for="nombre">
            <span>Usuario</span>
            <input type="text"placeholder="Tu nombre">
            <span>Contraseña</span>
            <input type="text" placeholder="Tu nombre">
            <div class="botones" style="padding-top: 25px;">
                <button>Entrar</button>
                <a href="/registro"><button>Registrarse</button></a>
                <hr style="margin-bottom: 25px;">
                <button>Olvidé mi clave</button>
            </div>
        </label>
    </div>


    <%- include('./partials/footer'); %>
</body>
</html>