<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-registro.css">
</head>
<body>
    <header>

        <%- include('./partials/nav'); %>

        <hr>
    </header>

    <div class="contenido__register">

        <img style="padding-bottom: 10px; padding-top: 50px;" class="logo" src="/img/logo.png" alt="">
        <h2>Panel de Registro</h2>
        <p>Registrate para continuar comprando.</p>
        <hr>
        <label for="nombre">
            <span>Usuario</span>
            <input type="text"placeholder="Tu usuario">
            <span>Nombre Real</span>
            <input type="text"placeholder="Tu nombre">
            <span>Email</span>
            <input type="text"placeholder="Tu mail">
            <span>Clave</span>
            <input type="text" placeholder="Tu Clave">
            <span>Repite tu clave</span>
            <input type="text" placeholder="Repetir Clave">
            <hr>
            <p>
                <label class="custom-radio-checkbox">
                    <!-- Input oculto -->
                    <input  type="checkbox" name="genero" value="hombre">
                    <!-- Texto -->
                    <span class="custom-radio-checkbox__text">Acepto las condiciones de uso y privacidad</span>
                </label>
            </p>
            <div class="botones">
                <button>Registrarse</button>
                <button>Iniciar Sesion</button>
                <a href="/"><button>Cancelar</button></a>
            </div>
        </label>
    </div>


    <%- include('./partials/footer'); %>
</body>
</html>