<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style-register.css">
</head>
<body>
    <header>

        <nav>
            <h1>DuckFum</h1>
            <div class="menu">
                <ul>
                    <span>register</span>       
                    <span>Carrito</span>
                </ul>
            </div>
        </nav>

        <hr>
    </header>

    <div class="contenido__register">

        <h1>DuckFum</h1>
        <h2>Panel de Registro</h2>
        <p>Registrate para continuar comprando.</p>
        <label for="nombre">
            <span>Usuario</span>
            <input type="text"placeholder="Tu usuario">
            <span>Nombre Real</span>
            <input type="text"placeholder="Tu nombre">
            <span>Clave</span>
            <input type="text" placeholder="Tu Clave">
            <span>Repite tu clave</span>
            <input type="text" placeholder="Repetir Clave">
            <div class="botones">
                <button>Registrarse</button>
                <button>Cancelar</button>
            </div>
        </label>
    </div>


    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>