<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style-registro.css">
</head>
<body>
    <header>

        <nav>
            <a href="/"><h1>DuckFum</h1></a>
            <div class="menu">
                <ul>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

                    <a href="/registro"><i class="fas fa-user fa-2x"></i>  </a>     
                    <a href="/carrito"><i class="fas fa-shopping-cart fa-2x"></i> </a>
                    <div class="barra__de__busqueda">
                        <input class="buscador" type="search" name="Buscar">
                        <i class="fas fa-search"></i>
                    </div>
                </ul>
            </div>
        </nav>

        <hr>

    </header>

    <div class="contenido__register">

        <h1>DuckFum</h1>
        <h2>Panel de Registro</h2>
        <p>Registrate para continuar comprando.</p>
        <hr>
        <label for="nombre">
            <span>Usuario</span>
            <input type="text"placeholder="Tu usuario">
            <span>Nombre Real</span>
            <input type="text"placeholder="Tu nombre">
            <span>Clave</span>
            <input type="text" placeholder="Tu Clave">
            <span>Repite tu clave</span>
            <input type="text" placeholder="Repetir Clave">
            <hr>
            <p>
                <label class="custom-radio-checkbox">
                    <!-- Input oculto -->
                    <input  type="checkbox" name="genero" value="hombre">
                    <!-- Texto -->
                    <span class="custom-radio-checkbox__text">Acepto las condiciones de uso y privacidad</span>
                </label>
            </p>
            <div class="botones">
                <button>Registrarse</button>
                <button>Cancelar</button>
            </div>
        </label>
    </div>


    <footer>
        <p>DuckFum. Todos los derechos reservados</p>
    </footer>

</body>
</html>